<div class="modalAll" ng-controller="userStoryController">
  <div class="modal-header">
    <h3 class="modal-title" id="titleCharacters"> Characters </h3>
  </div> <!-- end modal-header -->

  <div class="modal-body">
    <ul id="nameChangeBox">
      <li id="charactersListDiv" ng-repeat="(namesIndex, names) in characters">
        <div ng-hide="showTrue[$index]">
          <img id="imgName"ng-src="{{readerIndex.story_characters[$index].character_photo}}" height='150px'/>
<div class="outerWrap">
          <p id="originalName">{{names}}</p>
          <!-- <br> -->
        <p > <div id="popupTraits"> {{readerIndex.story_characters[$index].character_traits[0]}}</div>
          <br><div id="popupTraits">{{readerIndex.story_characters[$index].character_traits[1]}}</div>
        <br><div id="popupTraits">{{readerIndex.story_characters[$index].character_traits[2]}}</div>
       </p>
       </div>
       <br>
          <p id="newName">
            New Name:


          <input id="inputName"type="text" name="name" ng-model="name">
          </p>
          <div id="changeBtnDiv">
          <button id="changeBtn" class="btn btn-primary" ng-click="nameReplace(name, names, namesIndex)"> Change </button>
        </div>
        </div>
        <div ng-show="showTrue[$index]">
          <img ng-src="{{readerIndex.story_characters[$index].character_photo}}" height='100px'/>
          <p id="changedName">New name: {{newNames[$index]}}</p>
          <button class="textPopupEditBtn btn btn-primary" ng-click="editName($index)"> Edit </button>
        </div>
      </li> <!-- end ng-repeat -->
    </ul> <!-- end nameChangeBox -->
  </div> <!-- end modal-body -->

  <div class="modal-footer">
    <button id="cancelBtn" class="btn-primary" ng-click="cancel()"> Cancel </button>
    <button id="doneBtn" class="btn-primary" ng-click="cancel()"> Done </button>
  </div> <!-- end modal-footer -->
</div> <!-- end userStoryController -->
