<div class="loginCont" ng-controller="loginController">
  <img class="title" src="../views/images/shortiezlogoinvert.png" alt="Shortiez Logo" />
  <h4>Collection of Customizable Short Stories</h4><br>
<div id="loginBox">
  <h3>Login</h3>

    <form action="/login" method="post">
    <div>
      <label for="username" hidden="hidden">Username</label>
      <input class="inputLogin" type="text" name="username" ng-model="userNameInfo" ng-init="userNameInfo='user'" id="username" hidden="hidden" >
      <!-- <input class="inputLogin" type="text" name="username" id="username" value="user" hidden="hidden"> -->
    </div>
    <div>
      <label for="password" hidden="hidden">Password</label>
      <input type="password" name="password" id="password" placeholder="Password" value="user" hidden="hidden">
    </div>
    <div>
      <br>
    <input class="btn btn-primary" type="submit" ng-click="setPrivileges()" name="name" value="Log In">
      <!-- <p>Are you new? Click Sign Up!</p> -->
      <!-- <button class="btn btn-primary"><a class="register" href="/#/register" hidden="hidden">Sign Up!</a></button> -->

      </div>
    </form>
  </div> <!-- end loginBox -->
</div> <!-- end loginController -->

<!-- ng-init="setPrivileges()" -->
