<div ng-controller="adminEditController" ng-init="getAllStories()" id="admin" class="gridListdemoBasicUsage">
<div class="uploadInstructions">
  <h1 id="uploadTitle">Upload a Story!</h1>
  <h3 id="UploadText">1) Click <strong>'Send Us A Story'</strong> <br> 2) Complete Form <br> 3) Submit <br> 4) Return to this screen
  <br> 5) Click <strong> 'Send us Pictures' </strong> <br> 6) Email images (Caption Page #'s and Character Name) </h3>
<tab><a id="uploadButton" href="https://docs.google.com/a/shortiez.us/forms/d/e/1FAIpQLSe1vHCSgPGuTph5or4OHtlxTsQXmcG5VKDIZr9_ZmTfkerSXA/viewform" target="_blank">Click Here to Add a Story!</a></tab>
<tab><a id="emailButton" href="mailto:team@shortiez.us">Send Us Pictures!</a></tab>

</div>

</div>
