<div ng-controller="adminEditController" ng-init="getAllStories()" id="admin" class="gridListdemoBasicUsage">
<div class="uploadInstructions">
  <h3 id="uploadTitle">Upload a Story!</h3>
  <h5 id="UploadText">To Upload a story, click the upload button below. It will take you to a form where you can fill up to 10 pages of story and 3 characters <br>
  Once you finish uploading your story, come back to this page and click the Send up Pictures button. That button will open up an email that you can
attach pictures you create too. <br> Just tell us which picture is for which character or page and hit send! We will do the rest for you. </h5>
<tab><a id="uploadButton" href="https://docs.google.com/a/shortiez.us/forms/d/e/1FAIpQLSe1vHCSgPGuTph5or4OHtlxTsQXmcG5VKDIZr9_ZmTfkerSXA/viewform" target="_blank">Click Here to Add a Story!</a></tab>
<tab><a id="emailButton" href="mailto:team@shortiez.us">Send Us Pictures!</a></tab>

</div>

</div>
